<h1>Comment#index</h1>
<p>Find me in app/views/comment/index.html.erb</p>
<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse the latest comments
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="comment-index-grid pt4">
  <% @comments.each do |comment| %>

    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to comment.title, comment %></h3>

      <p class="has-text-gray fg pt1">Commented by <%= comment.user.email %></p>


      <% if comment_author(comment) %>
         <%= link_to 'Edit', edit_comment_path(comment), class: "button is-small" %>
         <%= link_to 'Delete', comment, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>