<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>
<div class="container">
  <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>

  <h1>Thank you!</h1>
  <h3>You paid: <%= @order.total %></strong></h3>
</div>