<h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p>
<div class="container">
    <% @products.each do |product| %>
        <%= link_to item.title, item_path(product) %> | <strong><%= number_to_currency(to_currency(product.price)) %></strong><span><%= button_to 'Add to Cart', line_items_path(item_id: product), class: "btn btn-primary" %></span>
    <% end %>
</div>